@font-face {
  font-family: "iconfont"; /* Project id 2575004 */
  src: url('./fonts/font_2575004_gbamps47gus.woff2') format('woff2'),
       url('./fonts/font_2575004_gbamps47gus.woff') format('woff'),
       url('./fonts/font_2575004_gbamps47gus.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-douyinhao:before {
  content: "\e612";
}

.icon-a-shipinhao2x:before {
  content: "\e611";
}

.icon-icon_tk:before {
  content: "\e60f";
}

.icon-icon_kecheng2:before {
  content: "\e60d";
}

.icon-whatapp:before {
  content: "\e623";
}

.icon-kakao-talk-fill:before {
  content: "\e8be";
}

.icon-mianfei:before {
  content: "\e62f";
}

.icon-huangguan:before {
  content: "\e6d9";
}

.icon-xunzhang:before {
  content: "\e60c";
}

.icon-jinrujiantouxiao:before {
  content: "\e8d4";
}

.icon-jiantou1:before {
  content: "\e662";
}

.icon-xuanzeqishouqi:before {
  content: "\eb14";
}

.icon-xuanzeqizhankai:before {
  content: "\eb15";
}

.icon-xuanzeqishouqi-copy:before {
  content: "\ed96";
}

.icon-xuanzeqizhankai-copy:before {
  content: "\ed97";
}

.icon-function_kandeng:before {
  content: "\e9b7";
}

.icon-function_yc:before {
  content: "\e9b8";
}

.icon-function_geek:before {
  content: "\e9b9";
}

.icon-function_order:before {
  content: "\e9ba";
}

.icon-mn_fasong:before {
  content: "\e60a";
}

.icon-dianhua2:before {
  content: "\e605";
}

.icon-tielu:before {
  content: "\e607";
}

.icon-kefu2:before {
  content: "\e63c";
}

.icon-didian:before {
  content: "\e667";
}

.icon-gongjiao:before {
  content: "\e678";
}

.icon-jiantou:before {
  content: "\e618";
}

.icon-sucaiku:before {
  content: "\e68b";
}

.icon-youhuiquan:before {
  content: "\e637";
}

.icon-shouhouguanli:before {
  content: "\e676";
}

.icon-a-zaixianxuexikaoshipeixunkecheng-65:before {
  content: "\e8d5";
}

.icon-listicon:before {
  content: "\e9b6";
}

.icon-youjiantou-:before {
  content: "\e631";
}

.icon-jurassic_bbs:before {
  content: "\e697";
}

.icon-icon_chanpin:before {
  content: "\e9ae";
}

.icon-icon_hangye:before {
  content: "\e9af";
}

.icon-icon_data1:before {
  content: "\e9b0";
}

.icon-icon_paiming:before {
  content: "\e9b1";
}

.icon-icon_shop:before {
  content: "\e9b2";
}

.icon-icon_pinpai:before {
  content: "\e9b3";
}

.icon-icon_hot:before {
  content: "\e9b4";
}

.icon-icon_lanhai:before {
  content: "\e9b5";
}

.icon-arrow-right:before {
  content: "\e9ad";
}

.icon-icon_caigou:before {
  content: "\e994";
}

.icon-icon_ruzhu:before {
  content: "\e995";
}

.icon-icon_soumai1:before {
  content: "\e996";
}

.icon-icon_data:before {
  content: "\e997";
}

.icon-icon_geek:before {
  content: "\e998";
}

.icon-icon_oder:before {
  content: "\e999";
}

.icon-icon_kecheng1:before {
  content: "\e9aa";
}

.icon-icon_zhaoshang1:before {
  content: "\e9ab";
}

.icon-icon_yuncang1:before {
  content: "\e9ac";
}

.icon-close:before {
  content: "\e993";
}

.icon-shanchu:before {
  content: "\e61e";
}

.icon-fangda:before {
  content: "\ec13";
}

.icon-tianjia:before {
  content: "\e613";
}

.icon-shangchuan:before {
  content: "\e646";
}

.icon-bofang:before {
  content: "\e606";
}

.icon-mail:before {
  content: "\e99a";
}

.icon-edit:before {
  content: "\e99b";
}

.icon-count:before {
  content: "\e99c";
}

.icon-api:before {
  content: "\e99d";
}

.icon-diamond:before {
  content: "\e99e";
}

.icon-infor:before {
  content: "\e99f";
}

.icon-ad:before {
  content: "\e9a0";
}

.icon-zhuanye:before {
  content: "\e9a1";
}

.icon-shenfen:before {
  content: "\e9a2";
}

.icon-yzm:before {
  content: "\e9a3";
}

.icon-wuliu1:before {
  content: "\e9a4";
}

.icon-money2:before {
  content: "\e9a5";
}

.icon-safe1:before {
  content: "\e9a6";
}

.icon-zhizhao:before {
  content: "\e9a7";
}

.icon-proup:before {
  content: "\e9a8";
}

.icon-shop1:before {
  content: "\e9a9";
}

.icon-edit-copy:before {
  content: "\ed95";
}

.icon-icon_kecheng:before {
  content: "\e67c";
}

.icon-icon_zhaoshang:before {
  content: "\e67e";
}

.icon-icon_yuncang:before {
  content: "\e67f";
}

.icon-icon_soumai:before {
  content: "\e680";
}

.icon-weibiaoti-:before {
  content: "\e604";
}

.icon-dianhua1:before {
  content: "\e65c";
}

.icon-yuyue:before {
  content: "\e60b";
}

.icon-zixun:before {
  content: "\e61d";
}

.icon-dizhi:before {
  content: "\e6ba";
}

.icon-kefu1:before {
  content: "\e633";
}

.icon-kefu:before {
  content: "\e608";
}

.icon-gzh:before {
  content: "\e95e";
}

.icon-yuangong:before {
  content: "\e695";
}

.icon-yuangong1:before {
  content: "\e609";
}

.icon-data06:before {
  content: "\e67b";
}

.icon-shejishi:before {
  content: "\e600";
}

.icon-tuandui:before {
  content: "\e645";
}

.icon-rongzi:before {
  content: "\ed94";
}

.icon-yonghuqun:before {
  content: "\e603";
}

.icon-arrow:before {
  content: "\e601";
}

.icon-zuoji:before {
  content: "\e67d";
}

.icon-weixin:before {
  content: "\e682";
}

.icon-icon-zhiding:before {
  content: "\e602";
}

.icon-dianhua:before {
  content: "\e658";
}

.icon-weizhi:before {
  content: "\e64b";
}

.icon-shouji2:before {
  content: "\e76a";
}

.icon-qq:before {
  content: "\e60e";
}

.icon-a-kefu1:before {
  content: "\e93e";
}

.icon-more:before {
  content: "\e938";
}

.icon-point:before {
  content: "\e937";
}

.icon-right:before {
  content: "\e936";
}

.icon-ai:before {
  content: "\e930";
}

.icon-platform:before {
  content: "\e931";
}

.icon-sell:before {
  content: "\e932";
}

.icon-rocket:before {
  content: "\e933";
}

.icon-money1:before {
  content: "\e934";
}

.icon-translate:before {
  content: "\e935";
}

.icon-arrow_next:before {
  content: "\e92f";
}

.icon-lianjie:before {
  content: "\e92b";
}

.icon-fabu1:before {
  content: "\e92c";
}

.icon-gouwudai:before {
  content: "\e92d";
}

.icon-shuju:before {
  content: "\e92e";
}

.icon-money:before {
  content: "\e929";
}

.icon-wuliu:before {
  content: "\e922";
}

.icon-dingdan:before {
  content: "\e923";
}

.icon-huoyuan:before {
  content: "\e924";
}

.icon-gouwu:before {
  content: "\e925";
}

.icon-yuncang:before {
  content: "\e927";
}

.icon-shouhuo:before {
  content: "\e928";
}

.icon-data:before {
  content: "\e92a";
}

